## Estadística Aplicada

Sesión 9 - 12 septiembre

Karla Mariana Ley Acero- 2076201

Grupo 42

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Librerias especializadas

from lifelines import KaplanMeierFitter
from lifelines.statistics import logrank_test

In [3]:
# Importar los datos
datos1 = pd.read_excel('ejercicio_km.xlsx')

In [4]:
datos1.head()

   indiv  tiempo_sup  evento
0      1           6       1
1      2           6       1
2      3           6       1
3      4           7       1
4      5          10       1

In [5]:
## Estimar modelo Kaplan Meier
# En los datos siempre usamos el orden de 1. tiempo y 2. datos
km1 = KaplanMeierFitter().fit(datos1['tiempo_sup'], datos1['evento'])

In [6]:
km1.event_table
#at risk es el ni
#censored es el ci 
#observed es el di 
#event_at es el tiempo

          removed  observed  censored  entrance  at_risk
event_at
0.0             0         0         0        21       21
6.0             4         3         1         0       21
7.0             1         1         0         0       17
9.0             1         0         1         0       16
10.0            2         1         1         0       15
11.0            1         0         1         0       13
13.0            1         1         0         0       12
16.0            1         1         0         0       11
17.0            1         0         1         0       10
19.0            1         0         1         0        9
20.0            1         0         1         0        8
22.0            1         1         0         0        7
23.0            1         1         0         0        6
25.0            1         0         1         0        5
32.0            2         0         2         0        4
34.0            1         0         1         0        2
35.0            1         0         1         0        1

In [7]:
#Funcion de supervivencia
km1.survival_function_

          KM_estimate
timeline
0.0          1.000000
6.0          0.857143
7.0          0.806723
9.0          0.806723
10.0         0.752941
11.0         0.752941
13.0         0.690196
16.0         0.627451
17.0         0.627451
19.0         0.627451
20.0         0.627451
22.0         0.537815
23.0         0.448179
25.0         0.448179
32.0         0.448179
34.0         0.448179
35.0         0.448179

In [10]:
#Vamos a acceder a la mediana
km1.median_survival_time_
#la mitad de los individuos ha sufrido el evento (muerte) en el tiempo 23

23.0